body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    //background-image: url('../assets/page_main/title_backdrop.jpg');
    //background-position:center;
    //box-shadow: inset -10px -20px 50px #fff;

}

#title {
    height: 300px;
    //margin: 0px;
    //padding: 0px;
    font-size: 64px;
    color: #fff;
    text-align:right;
    background-image: url('../assets/page_main/title_backdrop2.jpg');
    background-position:center;
    background-size: 100%;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 0px 0px 10px black;//-1px 0 white, 0 1px, 1px 0 white, 0 -1px white;
    //-webkit-box-shadow:inset 0 0 0px #fff;
    box-shadow: inset -10px -20px 50px #fff;
}
/*
a {
    text-align:center;
    //margin: 50px -20px -20px -20px;
    padding: 10px 15px 15px 10px;
    background: #0050ef;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    -webkit-user-select:none;
    //-moz-user-select:none;
    //-ms-user-select:none;
    user-select:none;
}

a:hover, a:focus{
    background: #356094;
    border: solid 1px #2a4e77;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 50px #00f;
    -moz-box-shadow: inset 0 0 50px #00f;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-decoration:none;
}

a:link, a:visited {
    text-decoration:none;
}

a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);
    background: #2e5481;
    border: solid 1px #203e5f;
    text-decoration:none;
}
*/